<div>
  <h1>Call API for Values</h1>
  <ul>
    <li *ngFor="let value of apiValues">{{value}}</li>
  </ul>
</div>

<div>
  <h1>Call API for Profiles</h1>
  <ul>
    <li *ngFor="let profile of profiles">{{profile.userId + ' ' + profile.firstName+ ' ' + profile.firstLastName}}</li>
  </ul>
</div>


<router-outlet></router-outlet>
